p{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 150px;
    margin-right: 80px;
}

div{
    width: 300px;
    border: 15px solid pink;
    margin: 20px;
    padding: 50px;
    background-color: lightskyblue;
}