
body {
    font-family: Arial, sans-serif;
    background: #f3f3f3;
    margin: 0;
}


.titulli {
    text-align: center;
    margin: 40px 0;
}

.titulli h2 {
    color: #2c7be5;
    margin-bottom: 5px;
}

.titulli p {
    color: gray;
    font-size: 14px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: white;
}


.pjesa {
    width: 80%;
    margin: 20px auto;
    background: white;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;

}

.pjesa img {
    width: 550px;
}

.pjesaa {
    width: 80%;
    margin: 20px auto;
    background: white;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
}


.pjesaa {
    flex-direction: row-reverse;
}

.pjesaa img {
    width: 350px;
}

.logo{
    font-size: 35px;
    font-weight: bold;
    color: rgb(122, 197, 226);
}

nav a{
    margin-left: 25px;
    text-decoration: none;
    color: rgb(150, 146, 146);
    font-size: 23px;


}

nav a:hover{
    color: rgb(122, 197, 226);
}

.texti {
    width: 50%;
}

.texti h3 {
    color: #2c7be5;
}

.texti p {
    font-size: 14px;
    color: #565656;
}
.texti1 {
    width: 50%;
}

.texti1 h3 {
    color: #2c7be5;
}

.texti1 p {
    font-size: 14px;
    color: #565656;
}


.loader {
    margin: 100px;
}

.loader img {
    align-items: center;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    border-top-left-radius: 75%;
    border-top-right-radius: 75%;
    animation: bounce 7s infinite alternate;
}

.loader img:nth-child(2) {
    animation-delay: 2s;
}

.loader img:nth-child(3) {
    animation-delay: 4s;
}

.loader img:nth-child(4) {
    animation-delay: 6s;
}

.loader img:nth-child(5) {
    animation-delay: 8s;
}

.loader img:nth-child(6) {
    animation-delay: 10s;
}

.loader img:nth-child(7) {
    animation-delay: 12s;
}

@keyframes bounce {
    to {
        width: 150px;
        height: 150px;
        transform: translate(0,-50px,0);
    }
}